{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Babadu</title>
{% endblock meta %}

{% block content %}
<section class="">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://previews.123rf.com/images/elenabukharina/elenabukharina1704/elenabukharina170400068/75888660-let-s-play-badminton-seamless-background-of-badminton-rackets-and-shuttlecocks-pattern.jpg');
        height: 300px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5 justify-content-between">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="h-full d-flex flex-column gap-4 justify-content-center align-items-center text-black text-center">
            <section id="header" class="space-y-2">
              <div class="text-black font-weight-bold space-y-2">
                <div class="display-2 text-primary font-weight-bold">Babadu</div>
                <div class="text-lg text-muted max-w-md">
                  Basdat B3
                </div>
            </section>
            <section id="buttons" class="w-100">
              <div class="max-w-lg mx-auto text-black text-lg font-weight-bold">
                <a href="{% url 'authentication:login' %}">
                  <button class="btn btn-primary w-100 py-2 rounded-lg">
                    Login
                  </button>
                </a>
                <div class="d-grid gap-2 my-2">
                  <div class="text-sm">Atau</div>
                </div>
                <a href="{% url 'authentication:register' %}">
                  <button class="btn btn-primary w-100 py-2 rounded-lg">
                    Register
                  </button>
                </a>
              </div>
            </section>
            <section class="h-4"></section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}