<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="main_nav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Atlet </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"> Dashboard</a></li>
                        <li><a class="dropdown-item" href="#"> Tes Kualifikasi </a></li>
                        <li><a class="dropdown-item" href="#"> Daftar Event </a></li>
                        <li><a class="dropdown-item" href="#"> Enrolled Event </a></li>
                        <li><a class="dropdown-item" href="#"> Daftar Sponsor </a></li>
                        <li><a class="dropdown-item" href="#"> Logout </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Pelatih </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"> Dashboard</a></li>
                        <li><a class="dropdown-item" href="#"> Daftar Atlet </a></li>
                        <li><a class="dropdown-item" href="#"> List Atlet </a></li>
                        <li><a class="dropdown-item" href="#"> Logout </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> umpire </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"> Dashboard</a></li>
                        <li><a class="dropdown-item" href="#"> Daftar Atlet </a></li>
                        <li><a class="dropdown-item" href="#"> Lihat Event </a></li>
                        <li><a class="dropdown-item" href="#"> Hasil Pertandingan </a></li>
                        <li><a class="dropdown-item" href="#"> Logout </a></li>
                    </ul>
                </li>
            </ul>
        </div> <!-- navbar-collapse.// -->
    </div> <!-- container-fluid.// -->
</nav>