body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #449652;
    text-align: left;
    background-color: rgb(255, 255, 255);
    --bs-primary-rgb: rgb(207, 255, 198);
}

.border-primary {
    border-color: #449656;
}

.navbar-light .bg-light {
    background-color: white;
    --bs-bg-opacity: 0
}

.nav-link {
    color: #466935;
}

.text-primary {
    color: #4f634b !important;
}

.btn-primary {
    background-color: #5c865a;
    --bs-btn-hover-bg: #adcd93;
    --bs-btn-hover-border-color: #a093cd;
    --bs-btn-border-color: #9993cd !important;
}


.btn-primary:hover {
    background-color: #adcd93;
}

.btn-outline-primary {
    --bs-btn-color: #356940;
    --bs-btn-border-color: #3b6335;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #579644;
    --bs-btn-hover-border-color: #699644;
}

.form-select {
    border: 1px solid #212529;
}

.border-primary {
    border-color: #ced4da;
}

a {
    --bs-link-color: #fff;
    text-decoration: none;
}

a:hover {
    --bs-link-hover-color: #fff;
    text-decoration: none;
}

.form-check-input:checked {
    background-color: #5a7f3b;
}

h1 {
    font-weight: 800;
}

h3 {
    color: #f2f6fc;
}
