{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>Enrolled Event</title>
{% endblock meta %}

{% block content %}

<body>
    <h2 style="text-align: center;">Enrolled Event</h2>
        <table style="margin-left:auto;margin-right:auto">
              <tr>
                <th>Nama Event</th>
                <th>Stadium</th>
                <th>Hadiah</th>
                <th>Kategori Superseries</th>
                <th>Kategori Spesialisasi</th>
                <th>Tanggal Mulai</th>
                <th>Tanggal Selesai</th>
                <th>Kapasitas</th>
                <th></th>
              </tr>
              <tr>
                <td>Event A</td>
                <td>GBK</td>
                <td>Rp 5.000.000</td>
                <td>S200</td>
                <td>Tunggal Putra</td>
                <td>12-04-2023</td>
                <td>15-04-2023</td>
                <td>50/64</td>
                <td><button type="submit"><a href="#">Unenroll</a></button></td>
              </tr>
              <tr>
                <td>Event A</td>
                <td>GBK</td>
                <td>Rp 5.000.000</td>
                <td>S200</td>
                <td>Tunggal Putra</td>
                <td>12-04-2023</td>
                <td>15-04-2023</td>
                <td>50/64</td>
                <td><button type="submit"><a href="#">Unenroll</a></button></td>
              </tr>
              <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
              </tr>
          </table>
        </div>
    </div>

</body>

{% endblock content %}