{% extends 'base.html'%}
{% load static %}

<title>Daftar Event</title>
<head>
</head>
<body>

<h2 style="text-align: center;">Daftar Event</h2>

<table border="1" width="413" style="margin-left:auto;margin-right:auto">
  <tr>
    <th>Nama Stadium</th>
    <th>Negara</th>
    <th>Kapasitas</th>
    <th></th>
  </tr>
  <tr>
    <td>GBK</td>
    <td>Indonesia</td>
    <td>8</td>
    <td>
      <a href="/detail_event">Pilih</a>
    </td>
  </tr>
  <tr>
    <td>Senayan</td>
    <td>Indonesia</td>
    <td>16</td>
    <td>
      <a href="/detail_event">Pilih</a>
    </td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table>

</body>