{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>Pilih Kategori</title>
{% endblock meta %}

{% block content %}  
<body>

<h2 style="text-align: center;">Pilih Kategori</h2>

<table width="400" style="margin-left:auto;margin-right:auto">
        <tr>
            <th>Event</th>
            <td>Event A</td>
        </tr>
        <tr>
            <th>Hadiah</th>
            <td>Rp 5.000.000</td>
        </tr>
        <tr>
            <th>Tanggal Mulai</th>
            <td>12-04-2023</td>
        </tr>
            <tr>
            <th>Tanggal Selesai</th>
            <td>15-04-2023</td>
        </tr>
        <tr>
            <th>Kategori</th>
            <td>S200</td>
        </tr>
        <tr>
            <th>Kapasitas</th>
            <td>50/64</td>
        </tr>
        <tr>
            <th>Stadium</th>
            <td>GBK</td>
        </tr>
    </tr>
    <tr>
        <th>Negara</th>
        <td>Indonesia</td>
    </tr>
        </tbody>
        </table>

    <br></br>
    
    <table border="1" width="400" style="margin-left:auto;margin-right:auto">
        <tr>
            <th>Kategori</th>
            <th>Partner</th>
            <th></th>
        </tr>
        <tr>
            <td>Tunggal Putra</td>
            <td>-</td>
            <td>
                <a href="{% url 'atlet:enrolled_event' %}">Join</a>
            </td>
        </tr>
        <tr>
            <td>Ganda Putra</td>
            <td><select class="dropdown">
                <option selected>Pilih Atlet</option>
                <option value="1">Atlet 1</option>
                <option value="2">Atlet 2</option>
                <option value="3">Atlet 3</option>
                </select>
            </td>
            <td>
                <a href="{% url 'atlet:enrolled_event' %}">Join</a>
            </td>
        </tr>
        <tr>
            <td>Ganda Campuran</td>
            <td><select class="dropdown">
                <option selected>Pilih Atlet</option>
                <option value="1">Atlet 1</option>
                <option value="2">Atlet 2</option>
                <option value="3">Atlet 3</option>
                </select>
            </td>
            <td>
                <a href="{% url 'atlet:enrolled_event' %}">Join</a>
            </td>
        </tr>
        </tbody>
        </table>

</main>
    <style>
        th, td {
            text-align: left;
        }
    </style>
</body>

{% endblock content %}  